In [1]:
import requests
import pandas as pd
from pprint import pprint
import pickle
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
import re
from datetime import datetime
import time

In [2]:
corps = pd.read_excel("./기업정보.xlsx")
corp_names = corps["종목명"]
corp_names

0          삼성전자
1        SK하이닉스
2         NAVER
3           카카오
4      삼성바이오로직스
         ...
195       쿠쿠홀딩스
196          대상
197      JW중외제약
198         락앤락
199        삼양식품
Name: 종목명, Length: 200, dtype: object

In [3]:
keyword = ''

In [4]:
start = 1
display = 20

In [5]:
id = "q9mp9XkHZM2MNJDbhpRM"
pwd= "S9BddGlHer"
url = f'https://openapi.naver.com/v1/search/news.json?query={keyword}&display={display}&start={start}&sort=sim'
headers = {
    'X-Naver-Client-Id':id,
    'X-Naver-Client-Secret':pwd
}

In [6]:
for corp_name in corp_names:
    keyword = corp_name
    df = pd.read_csv('news_data_sample.csv')
    url = f'https://openapi.naver.com/v1/search/news.json?query={keyword}&display={display}&start={start}&sort=sim'
    res = requests.get(url, headers=headers) 
    if res.status_code == 200:
        datas = res.json()
        print('총 검색 건수 : ', datas['total'])
        temp = pd.DataFrame(datas['items'])
        temp['corp_name'] = pd.Series(data=[corp_name]*len(temp), dtype=str)
        df = df.append(temp)
        # 중복제거
        df.drop_duplicates(subset=['title'], keep='first', inplace=True)
        df.drop_duplicates(subset=['originallink'], keep='first', inplace=True)
        df.drop_duplicates(subset=['link'], keep='first', inplace=True)
        df.drop_duplicates(subset=['description'], keep='first', inplace=True)
        df.to_csv(f'news_data_sample.csv', encoding='utf-8-sig', index=False)

    #     print(df)

총 검색 건수 :  2794836
총 검색 건수 :  432450
총 검색 건수 :  1019162
총 검색 건수 :  2220195
총 검색 건수 :  167447
총 검색 건수 :  425237
총 검색 건수 :  251885
총 검색 건수 :  1197354
총 검색 건수 :  335244
총 검색 건수 :  1176774
총 검색 건수 :  165069
총 검색 건수 :  421100
총 검색 건수 :  440332
총 검색 건수 :  1070724
총 검색 건수 :  47408
총 검색 건수 :  215781
총 검색 건수 :  182796
총 검색 건수 :  1096279
총 검색 건수 :  412125
총 검색 건수 :  247250
총 검색 건수 :  4364351
총 검색 건수 :  24670
총 검색 건수 :  642903
총 검색 건수 :  4498221
총 검색 건수 :  404429
총 검색 건수 :  10053
총 검색 건수 :  178668
총 검색 건수 :  257442
총 검색 건수 :  24154
총 검색 건수 :  123469
총 검색 건수 :  242437
총 검색 건수 :  41953
총 검색 건수 :  1952535
총 검색 건수 :  28032
총 검색 건수 :  155953
총 검색 건수 :  648505
총 검색 건수 :  222185
총 검색 건수 :  318716
총 검색 건수 :  123289
총 검색 건수 :  46274
총 검색 건수 :  39337
총 검색 건수 :  17186
총 검색 건수 :  1952535
총 검색 건수 :  90302
총 검색 건수 :  120047
총 검색 건수 :  218884
총 검색 건수 :  68408
총 검색 건수 :  487800
총 검색 건수 :  250312
총 검색 건수 :  57460
총 검색 건수 :  190978
총 검색 건수 :  194294
총 검색 건수 :  455579
총 검색 건수 :  64710
총 검색 건수 :  118770
총 검색 건수 :  464330
총 검색 건수 :  105011
총 검색 건수 :  20884
총 검색 건수 :  75521
총 검색 건수 :  204182
총 검색 건수 :  94617
총 검색 건수 :  84743
총 검색 건수 :  49438
총 검색 건수 :  19102
총 검색 건수 :  644914
총 검색 건수 :  216834
총 검색 건수 :  88115
총 검색 건수 :  15145
총 검색 건수 :  156014
총 검색 건수 :  88411
총 검색 건수 :  54853
총 검색 건수 :  30344
총 검색 건수 :  434845
총 검색 건수 :  59019
총 검색 건수 :  35461
총 검색 건수 :  45571
총 검색 건수 :  185989
총 검색 건수 :  923018
총 검색 건수 :  193001
총 검색 건수 :  423242
총 검색 건수 :  271816
총 검색 건수 :  116668
총 검색 건수 :  141096
총 검색 건수 :  120319
총 검색 건수 :  30465
총 검색 건수 :  152344
총 검색 건수 :  345053
총 검색 건수 :  224026
총 검색 건수 :  151170
총 검색 건수 :  16720
총 검색 건수 :  14587
총 검색 건수 :  125956
총 검색 건수 :  11251
총 검색 건수 :  109203
총 검색 건수 :  12297
총 검색 건수 :  85220
총 검색 건수 :  78562
총 검색 건수 :  255204
총 검색 건수 :  304458
총 검색 건수 :  120270
총 검색 건수 :  248567
총 검색 건수 :  12626
총 검색 건수 :  1861985
총 검색 건수 :  50071
총 검색 건수 :  59079
총 검색 건수 :  265117
총 검색 건수 :  36383
총 검색 건수 :  52476
총 검색 건수 :  426623
총 검색 건수 :  111674
총 검색 건수 :  83672
총 검색 건수 :  83118
총 검색 건수 :  222886
총 검색 건수 :  71841
총 검색 건수 :  5907
총 검색 건수 :  16869
총 검색 건수 :  933557
총 검색 건수 :  2185543
총 검색 건수 :  11157
총 검색 건수 :  14407
총 검색 건수 :  26194
총 검색 건수 :  20870
총 검색 건수 :  47009
총 검색 건수 :  290160
총 검색 건수 :  16873
총 검색 건수 :  127639
총 검색 건수 :  164567
총 검색 건수 :  41512
총 검색 건수 :  125114
총 검색 건수 :  10886
총 검색 건수 :  3122
총 검색 건수 :  181884
총 검색 건수 :  128344
총 검색 건수 :  110050
총 검색 건수 :  402711
총 검색 건수 :  85853
총 검색 건수 :  63661
총 검색 건수 :  81062
총 검색 건수 :  23219
총 검색 건수 :  22281
총 검색 건수 :  169372
총 검색 건수 :  312754
총 검색 건수 :  45762
총 검색 건수 :  110407
총 검색 건수 :  19578
총 검색 건수 :  13118
총 검색 건수 :  17036
총 검색 건수 :  48914
총 검색 건수 :  38147
총 검색 건수 :  40830
총 검색 건수 :  95986
총 검색 건수 :  250613
총 검색 건수 :  4464
총 검색 건수 :  1830241
총 검색 건수 :  12172
총 검색 건수 :  21226
총 검색 건수 :  28770
총 검색 건수 :  41682
총 검색 건수 :  106013
총 검색 건수 :  52518
총 검색 건수 :  6333
총 검색 건수 :  19810
총 검색 건수 :  21167
총 검색 건수 :  98646
총 검색 건수 :  15554
총 검색 건수 :  14322
총 검색 건수 :  103904
총 검색 건수 :  46383
총 검색 건수 :  23460
총 검색 건수 :  851
총 검색 건수 :  8345
총 검색 건수 :  33212
총 검색 건수 :  49554
총 검색 건수 :  28178
총 검색 건수 :  79086
총 검색 건수 :  96233
총 검색 건수 :  9553
총 검색 건수 :  39959
총 검색 건수 :  8472
총 검색 건수 :  4925
총 검색 건수 :  13997
총 검색 건수 :  25989
총 검색 건수 :  23338
총 검색 건수 :  18904
총 검색 건수 :  11819
총 검색 건수 :  30448
총 검색 건수 :  18594
총 검색 건수 :  85163
총 검색 건수 :  2812
총 검색 건수 :  54876
총 검색 건수 :  55252
총 검색 건수 :  5549
총 검색 건수 :  2405
총 검색 건수 :  429
총 검색 건수 :  29161
총 검색 건수 :  4625
총 검색 건수 :  21029938
총 검색 건수 :  40955
총 검색 건수 :  37598
총 검색 건수 :  35988

In [7]:
# 뉴스 1000개씩 저장하는 코드
# for corp_name in corp_names:
#     keyword = corp_name
#     for i in range(1,1001,100):
#         start = i
#         df = pd.read_csv('news_data.csv')
#         url = f'https://openapi.naver.com/v1/search/news.json?query={keyword}&display={display}&start={start}&sort=sim'
#         res = requests.get(url, headers=headers) 
#         if res.status_code == 200:
#             datas = res.json()
#             print('총 검색 건수 : ', datas['total'])
#             temp = pd.DataFrame(datas['items'])
#             temp['corp_name'] = pd.Series(data=[corp_name]*len(temp), dtype=str)
#             df = df.append(temp)
#             # 중복제거
#             df.drop_duplicates(subset=['title'], keep='first', inplace=True)
#             df.drop_duplicates(subset=['originallink'], keep='first', inplace=True)
#             df.drop_duplicates(subset=['link'], keep='first', inplace=True)
#             df.drop_duplicates(subset=['description'], keep='first', inplace=True)
#             df.to_csv(f'news_data.csv', encoding='utf-8-sig', index=False)

In [8]:
df = pd.read_csv(f'news_data_sample.csv')

In [9]:
df.describe()

,title,originallink,link,description,pubDate,corp_name
count,3410,3410,3410,3409,3410,3410
unique,3410,3410,3410,3409,2240,199
top,"모라이, ‘<b>만도</b> 자율주행 경진대회’에 시뮬레이터 제공",https://www.dailian.co.kr/news/view/1033948/?s...,http://www.newmanagement.co.kr/?p=12807,<b>KB금융</b>그룹·신한<b>금융</b>그룹은 유럽 신재생에너지 개발 사업에 ...,"Thu, 16 Sep 2021 10:00:00 +0900",LG전자
freq,1,1,1,1,21,22